//defaults
@font-face{
    font-family: "Monument Extended";
    src: url("../Fonts/MonumentExtended-Ultrabold.otf");
    font-weight: 900;
}
@font-face{
    font-family: "Monument Extended";
    src: url("../Fonts/MonumentExtended-Bold.otf");
    font-weight: 800;
}
@font-face{
    font-family: "Monument Extended";
    src: url("../Fonts/MonumentExtended-Light.otf");
    font-weight: 400;
}
@font-face{
    font-family: "Sequel Sans";
    src: url("../Fonts/SequelSans500.otf");
    font-weight: 500;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-size: 62.5%;
    height: 100%;
    scrollbar-color: $Black #eee;
    scrollbar-width: none;
}

body {
    font-family: $ff-default;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: $Light-Background;
    min-height: 100%;
    transition: .4s $timing-function;
}

::-webkit-scrollbar{
    width: 0rem;
}
::-webkit-scrollbar-thumb {
    background-color: $Black;
}
::-webkit-scrollbar-track{
    background-color: #eee;
}

/* =========================
      |GENERAL STYLINGS|
========================= */

a {
    text-decoration: none;
    color: initial;
}

li {
    list-style: none;
}

.section {
    padding-inline: 5%;
}

button {
    cursor: pointer;
    border: none;
}

img, video {
    max-width: 100%;
    display: block;
}

/* =========================
      |NAVIGATION STYLES|
========================= */
.nav{
    padding: 1.5rem;
    font-size: clamp($fs-400, 3.2vw, $fs-500);
    @include flex(center, space-between);

    &-section-parent{
        @include flex(center, center);

        .nav__list{
            @include flex(center, unset);
        }
        .nav__item:not(.nav__list:last-of-type){
            margin-left: 2rem;
        }
    }

}
@include media-lg{
    .nav{
        justify-content: unset;
        
    }
    .nav-section-parent{
        width: 100%;
        justify-content: space-between;
        .nav__item:not(.nav__list:last-of-type) {
            margin-left: 6rem;
        }
    }
}